@import url(../plugins/vegas/vegas.css);

/************SLIDER******************/
.vegas-slider {
	height: 110vh;
    width:98vw;
    position: absolute;
    z-index: -5;
    top: -80px;
}
/****************NAVBAR****************/
.row
{
    max-width: 100%;
    margin: none;
    z-index: 3;
}

.main-nav
{
    list-style: none;
    margin-top: 30px;
    margin-left: 50%;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid blue;
    border-radius: 15%;
    
}

.main-nav li a:hover
{
    border: 1px solid blue;
    border-radius: 15%;
    background-color: white;
}


.main-nav li a
{
    
    color: blue;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
/****************ABOUT ME**************/

.box-container{
    background: #f3c30f;
    height:70vh;
    width:98vw;
    position: absolute;
    margin-top: -10%;
    font-size: 1.5rem;
    display:flex;
}
  .box-1 {
    width: 24%;
    height: 50%;
    padding:10px;
    margin-top: 5%;
 }

  .box-2 {
    width: 24%;
    height: 50%;
    padding:10px;
    margin-top: 5%;
    padding-left:50px;
  }
   .box-3 {
    width: 24%;
    height: 50%;
    padding:10px;
    margin-top: 5%;
  }
   .box-4 {
    width: 24%;
    height: 50%;
    padding:10px;
    margin-top: 5%;
    padding-left:50px;
  }
  .icon-1{
      position: absolute;
      top:50%;
      left: 5%;
  }
  .icon-2{
      position: absolute;
      top:50%;
      left: 30%;
  }
  .icon-3{
      position: absolute;
      top:50%;
      left:55%;
  }
  .icon-4{
      position: absolute;
      top:50%;
      left: 80%;
  }

  /********************LAUNCHCODE SECTION***********************/

#launchcode{
    height: 110vh;
    width:98vw;
    position: relative;
}
#launch-title{
    text-align: center;
    color: black;
    position: relative;
    top:50%;
    font-size: 6rem;
}
#launch-desc{
    text-align: center;
    color: black;
    position: relative;
    top:50%;
    font-size:25px;
    padding:30px;

}
footer{
    background:black;
    color:white;
    text-align: center;
}